In [ ]:
import pandas as pd

In [ ]:
weather = pd.read_csv("/content/weatherHistory.csv")

In [ ]:
weather.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96429 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96429 non-null  object
 1   Summary                   96429 non-null  object
 2   Precip Type               95912 non-null  object
 3   Temperature (C)           96429 non-null  float64
 4   Apparent Temperature (C)  96429 non-null  float64
 5   Humidity                  96429 non-null  float64
 6   Wind Speed (km/h)         96429 non-null  float64
 7   Wind Bearing (degrees)    96429 non-null  float64
 8   Visibility (km)           96429 non-null  float64
 9   Loud Cover                96429 non-null  float64
 10  Pressure (millibars)      96429 non-null  float64
 11  Daily Summary             96429 non-null  object
dtypes: float64(8), object(4)
memory usage: 9.6+ MB

In [ ]:
weather.drop(columns=['Formatted Date', 'Summary', 'Precip Type', 'Daily Summary'], inplace=True)
weather.head()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13
1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63
2,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94
3,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41
4,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51

In [ ]:
weather.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96380.000000,96380.000000,96380.000000,96380.000000,96380.000000,96380.000000,96380.0,96380.000000
mean,11.936393,10.858430,0.734813,10.814954,187.515522,10.350186,0.0,1003.266108
std,9.547561,10.693539,0.195464,6.912799,107.371546,4.190323,0.0,116.834699
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.711111,2.316667,0.600000,5.828200,116.000000,8.355900,0.0,1011.900000
50%,12.005556,12.005556,0.780000,9.965900,180.000000,10.046400,0.0,1016.440000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [ ]:
weather.duplicated().sum()

49

In [ ]:
weather.drop_duplicates(inplace=True)
weather.duplicated().sum()

0

In [ ]:
df_mean=weather.mean().T
df_mean

Temperature (C)               11.936393
Apparent Temperature (C)      10.858430
Humidity                       0.734813
Wind Speed (km/h)             10.814954
Wind Bearing (degrees)       187.515522
Visibility (km)               10.350186
Loud Cover                     0.000000
Pressure (millibars)        1003.266108
dtype: float64

In [ ]:
df_median=weather.median()
df_median

Temperature (C)               12.005556
Apparent Temperature (C)      12.005556
Humidity                       0.780000
Wind Speed (km/h)              9.965900
Wind Bearing (degrees)       180.000000
Visibility (km)               10.046400
Loud Cover                     0.000000
Pressure (millibars)        1016.440000
dtype: float64